DB_HOST=localhost
DB_PORT=5432
DB_USER=ton_utilisateur_pg
DB_PASSWORD=ton_mot_de_passe_pg
DB_NAME=gestion_etudiants
JWT_SECRET=remplace_par_une_longue_chaine_aleatoire
PORT=3000

# true uniquement pour une connexion PostgreSQL externe chiffree (ex: Render)
DB_SSL=false
